.search-bar {
    display: flex;
    width: 100%;
    padding: 10px 0;
    background: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* TODO: Add a sticky shadow
        Like this: https://medium.com/walmartglobaltech/activatable-drop-shadow-on-sticky-elements-d0c12f1ebfdf
    */
}

.command-hints-container {
    position: absolute;
    right: 0;
    width: calc(100vw - 40px);
    background: var(--topbar-highlight-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.command-hints-container>p.selected-command {
    font-weight: bold;
    border-bottom: 1px solid white;
}

.command-hints-container>p {
    margin: 3px;
}

.command-hints-container>.selected{
    background: var(--main-bg-color);
}