.filemenu {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    background: var(--topbar-color);
    overflow: auto;
    font-size: 1em;
    z-index: 1000;
}

.filemenu>li {
    float: left;
    z-index: 1000;
}

.filemenu>li>a:hover {
    background: var(--topbar-highlight-color);
}

.filemenu>li>a {
    text-align: center;
    text-decoration: none;
    padding: 0.5em 16px;
    z-index: 1000;
    display: block;
    cursor: pointer;
    user-select: none;
}