body {
    margin: 0;
    overflow: hidden;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

html,
body,
#root {
    height: 100%;
    color: var(--main-fg-color);
}

.viewContainer {
    background: var(--main-bg-color);
    flex: 1 1 auto;
    overflow: auto;
}